input {
    margin-right: 1.5em;
}

html {
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Lucida Console';
}

input {
    background-color: #727272;
    color: #ffffff;
}

body {
    display: table;
    background-color: #242424;
    color: #85FF0C;
    width: 100%;
    height: 100%;
    margin: 0;
}

table {
    width: 100%;
    border: 1px solid;
    margin: 1em;
    table-layout: fixed;
    margin: 0;
    word-wrap: break-word;
    border-collapse: collapse;
}

thead {
    text-align: left;
    border-bottom: 1px;
}

tbody {
    font-size: smaller;
}

td {
    vertical-align: top;
    border: 1px solid;
}

div.td-force-height {
    min-height: 4em;
}
